
@import url("custom-properties.css");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--color-text-default);
  font-family: var(--font-family);
  font-size: var(--text-base-size);
  font-weight: var(--font-weight);
  line-height: 1.5;
}

@media (min-width: 64em) {
  :root {
    --text-scale-ratio: var(--text-scale-ratio-alt);
  }
}

.aspect-ratio {
  height: calc(100vw * 9 / 16);
  width: 100vw;
}

p {
  font-size: var(--font-size);
  margin: 0 0 var(--spacing) 0;
}

.standfirst {
  font-size: var(--font-size-x-large);
}

.lede {
  font-size: var(--font-size-medium);
}

/* =figure */

figure {
  margin: 0 0 var(--spacing) 0;
  padding: 0;
  width: min-content;
}

figure img {
  margin: 0 0 var(--spacing) 0;
}

figcaption {
  font-size: var(--font-size-xx-small);
}
