//  =====================================================
//  HTML Living Standard
//  Heading elements (part of section elements)
//  https://html.spec.whatwg.org/multipage/sections.html
//  h1, h2, h3, h4, h5, h6
//  ===================================================== 

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 0;
}

h1 {
  font-size: var(--font-size-display);
}

h2 {
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-weight-extra-bold);
}

h2:first-of-type {
  margin-block-start: 0;
}
h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-medium);
}

h5 {
  font-size: var(--font-size);
}

h6 {
  font-size: var(--font-size-small);
}
